@using SimpleShop.Application.Features.Product.Edit
@model EditProductRequest

@{
    ViewData["Title"] = "Edit";
}

<head>
    <meta charset="utf-8" />
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SimpleShop.MVC.styles.css" asp-append-version="true" />
</head>

<h1>Edit product</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />

            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="custom-label-input" />
                <span asp-validation-for="Name" class="text-danger validation-inline"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="custom-label-input" />
                <span asp-validation-for="Description" class="text-danger validation-inline"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="custom-button" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

