@model SimpleShop.Application.Shop.Commands.DeleteShop.DeleteShopCommand

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<head>
    <meta charset="utf-8" />
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SimpleShop.MVC.styles.css" asp-append-version="true" />
</head>

<h3>Are you sure you want to delete shop @Model.Name (@Model.Description)?</h3>
<div>
    <form asp-action="Delete" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />

        <input type="submit" value="Delete" class="custom-button" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
