@{
    ViewData["Title"] = "Home";
}
<head>
    <meta charset="utf-8" />
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SimpleShop.MVC.styles.css" asp-append-version="true" />
</head>

<div class="text-center">
    <h1 class="display-4">Hello friends!</h1>
    <p>Welcome in my simple shop :)</p>
</div>
